<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/admin" method="POST" id="loginForm">
        <input name="password" id="pWord" type="password" placeholder="Enter Password">
        <input type="submit" id="submit">
    </form>

    <!-- Fetch request -->
    <!-- <script src="/js/login.js"></script> -->
</body>
</html>