body{
    background-color: black;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#red{
    color: red;
}
#white{
    color: white;
}
#fuchsia{
    color: fuchsia;
}
#yellow{
    color: yellow;
}
